<li <%= track_data_attribs(track, list_type) %>>
  <div class="songInfo">
    <% if list_type == :song %>
      <span class="songDate"><%= link_to track.show.show_date.strftime('%m-%d-%Y'), show_path(track.show) %></span>
      <%= li_tags_for(track) %>
      <br>
      <span class="songVenue"><%= track.show.location %></span>
    <% elsif list_type == :show %>
      <div class="songTitle">
        <% #link_to ("%02d %s" % [track.position, track.title]), song_path(track.songs.first) %>
        <%= link_to track.title, song_path(track.songs.first) %>
        <%= li_tags_for(track) %>
      </div>
    <% end %>
  </div>
  <div class="downloadButton" style="display: none;">
    <%= link_to "<span class=\"tag\">Download</span>".html_safe, download_track_path(track) %>
  </div>
  <%= render :partial => "/shared/scrubber", :locals => {:track => track} %>
  <%= render :partial => "/shared/duration", :locals => {:track => track} %>
  <div class="clearfix"></div>
</li>
