<h1>Add A Song</h1>
<br>
<br>
<%= flash[:notice] %>
<br>
<br>
<%= form_for @song do |f| %>
  <% @shows.each do |s| %>
    <%= f.radio_button :show_id, s.id %><%= f.label :show_id, s %><br>
  <% end %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :song_file %>
  <%= f.file_field :song_file %>
  <br>
  <%= f.submit %> or <%= link_to "cancel", songs_path %>
<% end %>
