<% content_for(:title) { "StreamPhish" } %>

<h1 class="pageListHeader">StreamPhish</h1>

<div class="pageContainer">
  <h2>Years</h2>
  <ul class="yearsCircles">
  <% @years.each do |year| %>
    <%= render :partial => 'year_bubble', :locals => {:year => year} %>
  <% end %>
  </ul>

  <h2>Songs <span>( <%= link_to 'view all', song_collections_path %> )</span></h2>
  <div class="songs">
  <% @song_collections.each do |sc| %>
    <%= render :partial => 'song_bubble', :locals => {:sc => sc} %>
  <% end %>
  </div>
<div>

<% content_for :javascripts do %>
  <%= javascript_include_tag "circle_event_manager" %>
  <%= javascript_include_tag "pages" %>
<% end %>