<li data-song-uri="<%= song.song_file.url %>">
  <!-- <a href="#" class="epd" data-song-uri="<%= song.song_file.url %>"> -->
    <div class="songInfo">
      <span class="songDate"><%= song.show.show_date.strftime '%-m/%-d/%Y' %></span><br>
      <span class="songVenue"><%= song.show.location %></span>
    </div>
    <%= render :partial => "scrubber", :locals => {:song => song} %>
    <div class="clearfix"></div>
  <!-- </a> -->
</li>
