<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# music: http://ogp.me/ns/music#">
  <meta charset="utf-8">

  <%# Use the .htaccess and remove these lines to avoid edge case issues. %>
  <%# More info: h5bp.com/b/378 %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <% title = yield :title || 'PhishTracks' %>
  <% description = content_for?(:description) ? yield(:description) : 'Free streaming Phish audience recordings' %>

  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  <meta property="og:site_name" content="PhishTracks">
  <meta property="og:image" content="<%= image_url 'facebook-icon.png' %>">
  <meta property="og:title" content="<%= content_for?(:og_title) ? yield(:og_title) : title %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:url" content="<%= request.url %>">
  <%= yield :og if content_for?(:og) %>

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <%# Mobile viewport optimized: h5bp.com/viewport %>
  <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="http://assets.phishtracks.com/favicon.ico"/>
  <link rel="apple-touch-icon" href="/ios-icon.png"/>
  <%= stylesheet_link_tag 'application' %>
  <%#= render "stylesheets" %>

  <%# More ideas for your <head> here: h5bp.com/d/head-Tips %>

  <%# All JavaScript at the bottom, except polyfills %>
  <%= javascript_include_tag "polyfills" %>

  <%= csrf_meta_tag %>
</head>
