<!DOCTYPE html>
<%# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither %>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

  <%= render "head" %>

  <body class="pages hidePlayer">
    <%= render "chromeframe" %>
    <%= render "header" %>

    <div id="main" role="main">
      <script>
        var PTData = PTData || {};
        PTData = <%= yield %>;
      </script>
    </div>
    <div id="dim"></div>
    <div id="yearSelect">
      <ul>
        <% @years.each do |year| %>
        <li>
          <a href="/shows/<%= year[:year] %>" style="background: <%= year[:bg] %>; color: <%= year[:fg] %>;">
            <span><%= year[:year] %></span>
          </a>
        </li>
        <% end %>
      </ul>
    </div>
    <div id="player"></div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35768950-1']);
      // _gaq.push(['_trackPageview']); Commented because event will be sent with backbone

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <%# Javascript at the bottom for fast page loading %>
    <%= render "javascripts" %>

  </body>
</html>
