<!DOCTYPE html>
<%# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither %>
<%= html_tag :class => "no-js", :lang => "en" %>
  <%= render "head" %>

  <body class="pages hidePlayer">
    <%= render "chromeframe" %>
    <%= render "header" %>

    <div id="main" role="main">
      <%#= render "flashes" %>
      <%= yield %>
    </div>
    <div id="dim"></div>
    <div id="player"></div>
    <%= render "footer" %>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35768950-1']);
      // _gaq.push(['_trackPageview']); Commented because event will be sent with backbone

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <%# Javascript at the bottom for fast page loading %>
    <%= render "javascripts" %>

  </body>
</html>